* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ysabeau Infant', sans-serif;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

.borda {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0 20px 0;
}

.container-img {
    width: 200px;
    height: 200px;
}

.container-img img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
}

.borda::before {
    content: "";
    position: absolute;
    width: 220px;
    height: 220px;
    background: linear-gradient(90deg, #ffdf00, #009c3b);
    border-radius: 100%;
    z-index: -1;
}

.nome {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 220px;
    margin: 0 auto 40px auto;
}

.nome h1 {
    color: #fff;
    font-size: 45px;
    text-shadow: 1px 5px 2px #000000;
}

.nome::after {
    content: "";
    width: 18px;
    height: 18px;
    background-image: url('assets/verificado.png');
    background-size: 18px 18px;
    background-repeat: no-repeat;
    position: absolute;
    right: -5px;
    bottom: 13px;
}

.nome .barra::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 4px;
    background: linear-gradient(90deg, #ffdf00, #009c3b);
    left: 16px;
    bottom: 3px;
    border-radius: 5px;
}

.limitado {
    max-width: 768px;
    margin: 0 auto;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.links a {
    position: relative;
    background-color: #0200006e;
    padding: 10px;
    margin-bottom: 15px;
    width: 650px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    border-radius: 20px;
}

.links .yt::before {
    background-image: url('assets/youtube.png');
}

.links .inst::before {
    background-image: url('assets/instagram.png');
}

.links .tw::before {
    background-image: url('assets/twitter.png');
}

.links .fc::before {
    background-image: url('assets/facebook.png');
}

.links .twt::before {
    background-image: url('assets/twitch.png');
}

.links .yt::before,
.links .inst::before,
.links .tw::before,
.links .fc::before,
.links .twt::before {
    content: "";
    position: absolute;
    width: 27px;
    height: 27px;
    background-repeat: no-repeat;
    background-size: 27px 27px;
    left: 10px;
    top: 8px;
}